<!DOCTYPE html>
<html lang="mn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <title>Олон цагаан толгойн шифрлэлт</title>

  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>
<body>
  
  <div class="title">
    <h1 class="outsideScreen"><span>Олон цагаан толгойн шифрлэлт</span></h1>
  </div>
  <button class="information" id="information">МЭДЭЭЛЭЛ</button><br><br><br>
  <button class="instructions" id="instructions">ЗААВАР</button>
  
  <div id="myinformation" class="information_content">
    <div class="information-content">
      <div><span class="close1">&times;</span></div>
      <div class="information-body">
        <p>1. Олон цагаан толгойн шифр нь орлуулалт дээр суурилсан бөгөөд олон төрлийн орлуулалтын цагаан толгой ашигладаг.
          <br><br>2. Энэ шифрт жирийн текстийн цагаан толгой шифрлэх явцад өөр өөр байршилтай байж болно.
          <br><br>3. Ямар ч үгийг түлхүүр болгон ашиглаж болно.
        </p>
      </div>
    </div>
  </div>
  
  <div id="myinstructions" class="instructions_content">
    <div class="instructions-content">
      <div class="instructions-header">
        <span class="close2">&times;</span>
      </div>
      <div class="instructions-body">
        <p>
          <br>1. Шифрлэх текстээ оруулна уу.
          <br><br>2. Түлхүүр болгон ашиглах ямар ч үгийг оруулна уу.
          <br><br>3. "Шифрлэх" товчийг дарж текстээ шифрлэнэ үү.
          <br><br>4. Тайлахын тулд ижил зааврыг дагана уу.
        </p>
      </div>
    </div>
  </div>
  
  <script>
    var information = document.getElementById("myinformation");
    var instructions = document.getElementById("myinstructions");

    var informtion_button = document.getElementById("information");
    var instructions_button = document.getElementById("instructions");

    var span = document.getElementsByClassName("close1")[0];
    var span1 = document.getElementsByClassName("close2")[0];

    informtion_button.onclick = function() {
      information.style.display = information.style.display === "block" ? "none" : "block";
    }
    
    instructions_button.onclick = function() {
      instructions.style.display = instructions.style.display === "block" ? "none" : "block";
    }

    span.onclick = function() { information.style.display = "none"; }
    span1.onclick = function() { instructions.style.display = "none"; }

    window.onclick = function(event) {
      if (event.target == information) information.style.display = "none";
      if (event.target == instructions) instructions.style.display = "none";
    }
  </script>
  
  <div class="inOut">
    <textarea class="textleft" name="input" rows="8" cols="80" id="inputMessage" placeholder="Оролтын текст"></textarea>
    <span>
      <button class="polyButton cipherMethod" id="cipherButtonPoly" onclick="cipherButtonFunction()">Шифрлэх</button>
      <button class="polyButton decipherMethod" id="decipherButton" onclick="decipherButtonFunction()">Тайлах</button>
      <br><br><br><br><br><br>
      <div class="inOut">
        <input type="text" id="enteredKey" placeholder="Түлхүүр оруулна уу">
      </div>
    </span>
    <textarea class="textright" name="result" rows="8" cols="80" id="result" placeholder="Гаралтын текст"></textarea>
  </div>

  <script type="text/javascript" src="../js/polyalphabeticCipher.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script>
    AOS.init({ duration: 1200 })
  </script>
</body>
</html>
